.main-div {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display:inline-block;
    margin-left: 20%;
}

.filter-div{
    background-color: black;
    color: white;
    height: 50%;
    width: 34%;  
    display: inline-flex;  
    position: absolute;
    margin-left: 20%;
}

.my-image {
    width: auto;
    height: 14rem;
    object-fit: contain;
}

